* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice {
    background-color: #fff;
    border: 2px solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1rem);
    grid-template-rows: repeat(3, 1rem);
    gap: .5rem;
}
.dice aside {
    background: #353335;
    border-radius: 99rem;
    display: none;
}
.dice.dots-1 aside {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
} /* Tärning 1 hit */
.dice.dots-2 aside:nth-child(1) {
    display: block;
    grid-column: 1 /2;
    grid-row: 1 / 2;
}
.dice.dots-2 aside:nth-child(2) {
    display: block;
    grid-column: 3 /3;
    grid-row: 3 / 3;
} /* Tärning 2 hit */
.dice.dots-3 aside:nth-child(1) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.dice.dots-3 aside:nth-child(2) {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.dice.dots-3 aside:nth-child(3) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
} /* Tärning 3 hit */
.dice.dots-4 aside:nth-child(1) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.dice.dots-4 aside:nth-child(2) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.dice.dots-4 aside:nth-child(3) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.dice.dots-4 aside:nth-child(4) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
} /* Tärning 4 hit */
.dice.dots-5 aside:nth-child(1) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.dice.dots-5 aside:nth-child(2) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.dice.dots-5 aside:nth-child(3) {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.dice.dots-5 aside:nth-child(4) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.dice.dots-5 aside:nth-child(5) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
} /* Tärning 5 hit */
.dice.dots-6 aside:nth-child(1) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.dice.dots-6 aside:nth-child(2) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.dice.dots-6 aside:nth-child(3) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.dice.dots-6 aside:nth-child(4) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.dice.dots-6 aside:nth-child(5) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
} 
.dice.dots-6 aside:nth-child(6) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
} /* Tärning 6 hit */